<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (payment) {
      <div>
        <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="scottyApp.payment.detail.title">Payment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ payment.id }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.mandateId">Mandate Id</span></dt>
          <dd>
            <span>{{ payment.mandateId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.paymentId">Payment Id</span></dt>
          <dd>
            <span>{{ payment.paymentId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.gateway">Gateway</span></dt>
          <dd>
            <span jhiTranslate="{{ 'scottyApp.Gateway.' + payment.gateway }}">{{ payment.gateway }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.iban">Iban</span></dt>
          <dd>
            <span>{{ payment.iban }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.bic">Bic</span></dt>
          <dd>
            <span>{{ payment.bic }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.amount">Amount</span></dt>
          <dd>
            <span>{{ payment.amount }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.currencyCode">Currency Code</span></dt>
          <dd>
            <span>{{ payment.currencyCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.softDescriptor">Soft Descriptor</span></dt>
          <dd>
            <span>{{ payment.softDescriptor }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.firstName">First Name</span></dt>
          <dd>
            <span>{{ payment.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.lastName">Last Name</span></dt>
          <dd>
            <span>{{ payment.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.addressLine1">Address Line 1</span></dt>
          <dd>
            <span>{{ payment.addressLine1 }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.addressLine2">Address Line 2</span></dt>
          <dd>
            <span>{{ payment.addressLine2 }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.postalCode">Postal Code</span></dt>
          <dd>
            <span>{{ payment.postalCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.city">City</span></dt>
          <dd>
            <span>{{ payment.city }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.countryCode">Country Code</span></dt>
          <dd>
            <span>{{ payment.countryCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.remoteIp">Remote Ip</span></dt>
          <dd>
            <span>{{ payment.remoteIp }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ payment.timestamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.state">State</span></dt>
          <dd>
            <span>{{ payment.state }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.message">Message</span></dt>
          <dd>
            <span>{{ payment.message }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.gatewayId">Gateway Id</span></dt>
          <dd>
            <span>{{ payment.gatewayId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.mode">Mode</span></dt>
          <dd>
            <span>{{ payment.mode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.payment.fileName">File Name</span></dt>
          <dd>
            <span>{{ payment.fileName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
