<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-key-value-heading" data-cy="KeyValueCreateUpdateHeading" jhiTranslate="scottyApp.keyValue.home.createOrEditLabel">
        Create or edit a Key Value
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="scottyApp.keyValue.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let kvKeyRef = editForm.get('kvKey')!;
        <div class="mb-3">
          <label class="form-label" for="field_kvKey" jhiTranslate="scottyApp.keyValue.kvKey">Kv Key</label>
          <input type="text" class="form-control" name="kvKey" id="field_kvKey" data-cy="kvKey" formControlName="kvKey" />
          @if (kvKeyRef.invalid && (kvKeyRef.dirty || kvKeyRef.touched)) {
            <div>
              @if (editForm.get('kvKey')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('kvKey')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let kvValueRef = editForm.get('kvValue')!;
        <div class="mb-3">
          <label class="form-label" for="field_kvValue" jhiTranslate="scottyApp.keyValue.kvValue">Kv Value</label>
          <input type="text" class="form-control" name="kvValue" id="field_kvValue" data-cy="kvValue" formControlName="kvValue" />
          @if (kvValueRef.invalid && (kvValueRef.dirty || kvValueRef.touched)) {
            <div>
              @if (editForm.get('kvValue')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
