<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading" jhiTranslate="scottyApp.payment.home.createOrEditLabel">
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="scottyApp.payment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let mandateIdRef = editForm.get('mandateId')!;
        <div class="mb-3">
          <label class="form-label" for="field_mandateId" jhiTranslate="scottyApp.payment.mandateId">Mandate Id</label>
          <input type="text" class="form-control" name="mandateId" id="field_mandateId" data-cy="mandateId" formControlName="mandateId" />
          @if (mandateIdRef.invalid && (mandateIdRef.dirty || mandateIdRef.touched)) {
            <div>
              @if (editForm.get('mandateId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('mandateId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let paymentIdRef = editForm.get('paymentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_paymentId" jhiTranslate="scottyApp.payment.paymentId">Payment Id</label>
          <input type="text" class="form-control" name="paymentId" id="field_paymentId" data-cy="paymentId" formControlName="paymentId" />
          @if (paymentIdRef.invalid && (paymentIdRef.dirty || paymentIdRef.touched)) {
            <div>
              @if (editForm.get('paymentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('paymentId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let gatewayRef = editForm.get('gateway')!;
        <div class="mb-3">
          <label class="form-label" for="field_gateway" jhiTranslate="scottyApp.payment.gateway">Gateway</label>
          <select class="form-control" name="gateway" formControlName="gateway" id="field_gateway" data-cy="gateway">
            <option [ngValue]="null">{{ 'scottyApp.Gateway.null' | translate }}</option>
            @for (gateway of gatewayValues; track $index) {
              <option [value]="gateway">{{ 'scottyApp.Gateway.' + gateway | translate }}</option>
            }
          </select>
          @if (gatewayRef.invalid && (gatewayRef.dirty || gatewayRef.touched)) {
            <div>
              @if (editForm.get('gateway')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let ibanRef = editForm.get('iban')!;
        <div class="mb-3">
          <label class="form-label" for="field_iban" jhiTranslate="scottyApp.payment.iban">Iban</label>
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
          @if (ibanRef.invalid && (ibanRef.dirty || ibanRef.touched)) {
            <div>
              @if (editForm.get('iban')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('iban')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '16' }"
                  >This field is required to be at least 16 characters.</small
                >
              }
              @if (editForm.get('iban')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '34' }"
                  >This field cannot be longer than 34 characters.</small
                >
              }
            </div>
          }
        </div>

        @let bicRef = editForm.get('bic')!;
        <div class="mb-3">
          <label class="form-label" for="field_bic" jhiTranslate="scottyApp.payment.bic">Bic</label>
          <input type="text" class="form-control" name="bic" id="field_bic" data-cy="bic" formControlName="bic" />
          @if (bicRef.invalid && (bicRef.dirty || bicRef.touched)) {
            <div>
              @if (editForm.get('bic')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('bic')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '8' }"
                  >This field is required to be at least 8 characters.</small
                >
              }
              @if (editForm.get('bic')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '11' }"
                  >This field cannot be longer than 11 characters.</small
                >
              }
            </div>
          }
        </div>

        @let amountRef = editForm.get('amount')!;
        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="scottyApp.payment.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (amountRef.invalid && (amountRef.dirty || amountRef.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('amount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let currencyCodeRef = editForm.get('currencyCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_currencyCode" jhiTranslate="scottyApp.payment.currencyCode">Currency Code</label>
          <input
            type="text"
            class="form-control"
            name="currencyCode"
            id="field_currencyCode"
            data-cy="currencyCode"
            formControlName="currencyCode"
          />
          @if (currencyCodeRef.invalid && (currencyCodeRef.dirty || currencyCodeRef.touched)) {
            <div>
              @if (editForm.get('currencyCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('currencyCode')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '3' }"
                  >This field is required to be at least 3 characters.</small
                >
              }
              @if (editForm.get('currencyCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '3' }"
                  >This field cannot be longer than 3 characters.</small
                >
              }
            </div>
          }
        </div>

        @let softDescriptorRef = editForm.get('softDescriptor')!;
        <div class="mb-3">
          <label class="form-label" for="field_softDescriptor" jhiTranslate="scottyApp.payment.softDescriptor">Soft Descriptor</label>
          <input
            type="text"
            class="form-control"
            name="softDescriptor"
            id="field_softDescriptor"
            data-cy="softDescriptor"
            formControlName="softDescriptor"
          />
          @if (softDescriptorRef.invalid && (softDescriptorRef.dirty || softDescriptorRef.touched)) {
            <div>
              @if (editForm.get('softDescriptor')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('softDescriptor')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '140' }"
                  >This field cannot be longer than 140 characters.</small
                >
              }
            </div>
          }
        </div>

        @let firstNameRef = editForm.get('firstName')!;
        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="scottyApp.payment.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('firstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let lastNameRef = editForm.get('lastName')!;
        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="scottyApp.payment.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('lastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let streetNameRef = editForm.get('streetName')!;
        <div class="mb-3">
          <label class="form-label" for="field_streetName" jhiTranslate="scottyApp.payment.streetName">Street Name</label>
          <input
            type="text"
            class="form-control"
            name="streetName"
            id="field_streetName"
            data-cy="streetName"
            formControlName="streetName"
          />
          @if (streetNameRef.invalid && (streetNameRef.dirty || streetNameRef.touched)) {
            <div>
              @if (editForm.get('streetName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('streetName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '70' }"
                  >This field cannot be longer than 70 characters.</small
                >
              }
            </div>
          }
        </div>

        @let houseNumberRef = editForm.get('houseNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_houseNumber" jhiTranslate="scottyApp.payment.houseNumber">House Number</label>
          <input
            type="text"
            class="form-control"
            name="houseNumber"
            id="field_houseNumber"
            data-cy="houseNumber"
            formControlName="houseNumber"
          />
          @if (houseNumberRef.invalid && (houseNumberRef.dirty || houseNumberRef.touched)) {
            <div>
              @if (editForm.get('houseNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('houseNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '16' }"
                  >This field cannot be longer than 16 characters.</small
                >
              }
            </div>
          }
        </div>

        @let postalCodeRef = editForm.get('postalCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_postalCode" jhiTranslate="scottyApp.payment.postalCode">Postal Code</label>
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
          @if (postalCodeRef.invalid && (postalCodeRef.dirty || postalCodeRef.touched)) {
            <div>
              @if (editForm.get('postalCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('postalCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '16' }"
                  >This field cannot be longer than 16 characters.</small
                >
              }
            </div>
          }
        </div>

        @let cityRef = editForm.get('city')!;
        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="scottyApp.payment.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (cityRef.invalid && (cityRef.dirty || cityRef.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('city')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let countryCodeRef = editForm.get('countryCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_countryCode" jhiTranslate="scottyApp.payment.countryCode">Country Code</label>
          <input
            type="text"
            class="form-control"
            name="countryCode"
            id="field_countryCode"
            data-cy="countryCode"
            formControlName="countryCode"
          />
          @if (countryCodeRef.invalid && (countryCodeRef.dirty || countryCodeRef.touched)) {
            <div>
              @if (editForm.get('countryCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('countryCode')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '2' }"
                  >This field is required to be at least 2 characters.</small
                >
              }
              @if (editForm.get('countryCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '2' }"
                  >This field cannot be longer than 2 characters.</small
                >
              }
            </div>
          }
        </div>

        @let remoteIpRef = editForm.get('remoteIp')!;
        <div class="mb-3">
          <label class="form-label" for="field_remoteIp" jhiTranslate="scottyApp.payment.remoteIp">Remote Ip</label>
          <input type="text" class="form-control" name="remoteIp" id="field_remoteIp" data-cy="remoteIp" formControlName="remoteIp" />
          @if (remoteIpRef.invalid && (remoteIpRef.dirty || remoteIpRef.touched)) {
            <div>
              @if (editForm.get('remoteIp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('remoteIp')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '39' }"
                  >This field cannot be longer than 39 characters.</small
                >
              }
            </div>
          }
        </div>

        @let emailAddressRef = editForm.get('emailAddress')!;
        <div class="mb-3">
          <label class="form-label" for="field_emailAddress" jhiTranslate="scottyApp.payment.emailAddress">Email Address</label>
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
          @if (emailAddressRef.invalid && (emailAddressRef.dirty || emailAddressRef.touched)) {
            <div>
              @if (editForm.get('emailAddress')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('emailAddress')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="scottyApp.payment.timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let stateRef = editForm.get('state')!;
        <div class="mb-3">
          <label class="form-label" for="field_state" jhiTranslate="scottyApp.payment.state">State</label>
          <input type="text" class="form-control" name="state" id="field_state" data-cy="state" formControlName="state" />
          @if (stateRef.invalid && (stateRef.dirty || stateRef.touched)) {
            <div>
              @if (editForm.get('state')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('state')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let messageRef = editForm.get('message')!;
        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="scottyApp.payment.message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
          @if (messageRef.invalid && (messageRef.dirty || messageRef.touched)) {
            <div>
              @if (editForm.get('message')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('message')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let gatewayIdRef = editForm.get('gatewayId')!;
        <div class="mb-3">
          <label class="form-label" for="field_gatewayId" jhiTranslate="scottyApp.payment.gatewayId">Gateway Id</label>
          <input type="text" class="form-control" name="gatewayId" id="field_gatewayId" data-cy="gatewayId" formControlName="gatewayId" />
          @if (gatewayIdRef.invalid && (gatewayIdRef.dirty || gatewayIdRef.touched)) {
            <div>
              @if (editForm.get('gatewayId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let modeRef = editForm.get('mode')!;
        <div class="mb-3">
          <label class="form-label" for="field_mode" jhiTranslate="scottyApp.payment.mode">Mode</label>
          <input type="text" class="form-control" name="mode" id="field_mode" data-cy="mode" formControlName="mode" />
          @if (modeRef.invalid && (modeRef.dirty || modeRef.touched)) {
            <div>
              @if (editForm.get('mode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '35' }"
                  >This field cannot be longer than 35 characters.</small
                >
              }
            </div>
          }
        </div>

        @let fileNameRef = editForm.get('fileName')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileName" jhiTranslate="scottyApp.payment.fileName">File Name</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
          @if (fileNameRef.invalid && (fileNameRef.dirty || fileNameRef.touched)) {
            <div>
              @if (editForm.get('fileName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
