<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reconciliation(); as reconciliationRef) {
      <div>
        <h2 data-cy="reconciliationDetailsHeading"><span jhiTranslate="scottyApp.reconciliation.detail.title">Reconciliation</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reconciliationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.mandateId">Mandate Id</span></dt>
          <dd>
            <span>{{ reconciliationRef.mandateId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.paymentId">Payment Id</span></dt>
          <dd>
            <span>{{ reconciliationRef.paymentId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.gateway">Gateway</span></dt>
          <dd>
            <span [jhiTranslate]="'scottyApp.Gateway.' + (reconciliationRef.gateway ?? 'null')">{{
              {
                null: '',
                BANKINGCIRCLE: 'bankingcircle',
                CCBILL: 'ccbill',
                EMERCHANTPAY: 'emerchantpay',
                NOVALNET: 'novalnet',
                OPENPAYD: 'openpayd',
                UNKNOWN: 'unknown',
              }[reconciliationRef.gateway ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.iban">Iban</span></dt>
          <dd>
            <span>{{ reconciliationRef.iban }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.bic">Bic</span></dt>
          <dd>
            <span>{{ reconciliationRef.bic }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.amount">Amount</span></dt>
          <dd>
            <span>{{ reconciliationRef.amount }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.currencyCode">Currency Code</span></dt>
          <dd>
            <span>{{ reconciliationRef.currencyCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.softDescriptor">Soft Descriptor</span></dt>
          <dd>
            <span>{{ reconciliationRef.softDescriptor }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.firstName">First Name</span></dt>
          <dd>
            <span>{{ reconciliationRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.lastName">Last Name</span></dt>
          <dd>
            <span>{{ reconciliationRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.streetName">Street Name</span></dt>
          <dd>
            <span>{{ reconciliationRef.streetName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.houseNumber">House Number</span></dt>
          <dd>
            <span>{{ reconciliationRef.houseNumber }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.postalCode">Postal Code</span></dt>
          <dd>
            <span>{{ reconciliationRef.postalCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.city">City</span></dt>
          <dd>
            <span>{{ reconciliationRef.city }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.countryCode">Country Code</span></dt>
          <dd>
            <span>{{ reconciliationRef.countryCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.remoteIp">Remote Ip</span></dt>
          <dd>
            <span>{{ reconciliationRef.remoteIp }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.emailAddress">Email Address</span></dt>
          <dd>
            <span>{{ reconciliationRef.emailAddress }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ reconciliationRef.timestamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.state">State</span></dt>
          <dd>
            <span>{{ reconciliationRef.state }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.reasonCode">Reason Code</span></dt>
          <dd>
            <span>{{ reconciliationRef.reasonCode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.message">Message</span></dt>
          <dd>
            <span>{{ reconciliationRef.message }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.gatewayId">Gateway Id</span></dt>
          <dd>
            <span>{{ reconciliationRef.gatewayId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.mode">Mode</span></dt>
          <dd>
            <span>{{ reconciliationRef.mode }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.fileName">File Name</span></dt>
          <dd>
            <span>{{ reconciliationRef.fileName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.creditorName">Creditor Name</span></dt>
          <dd>
            <span>{{ reconciliationRef.creditorName }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.creditorIban">Creditor Iban</span></dt>
          <dd>
            <span>{{ reconciliationRef.creditorIban }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.creditorBic">Creditor Bic</span></dt>
          <dd>
            <span>{{ reconciliationRef.creditorBic }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.creditorId">Creditor Id</span></dt>
          <dd>
            <span>{{ reconciliationRef.creditorId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.mandateDate">Mandate Date</span></dt>
          <dd>
            <span>{{ reconciliationRef.mandateDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.executionDate">Execution Date</span></dt>
          <dd>
            <span>{{ reconciliationRef.executionDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.paymentInformationId">Payment Information Id</span></dt>
          <dd>
            <span>{{ reconciliationRef.paymentInformationId }}</span>
          </dd>
          <dt><span jhiTranslate="scottyApp.reconciliation.scottyPayment">Scotty Payment</span></dt>
          <dd>
            @if (reconciliation()!.scottyPayment) {
              <div>
                <a [routerLink]="['/payment', reconciliation()!.scottyPayment?.id, 'view']">{{ reconciliationRef.scottyPayment?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/reconciliation', reconciliationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
